  <footer>
    <p> &copy; <%= new Date().getFullYear() %> Sneed Group </p>
  </footer>
  
  <script src="/js/main.js"></script>
  <!-- Ensure captcha script is loaded -->
  <script src="/js/captcha.js"></script>
</body>
</html> 